h1{
  font-family: 'Lobster Two', cursive;
  font-size:48px
}

#logo{
  width:100%;
  width:110px;
  height:110px;
  margin-right:22px;
  margin-top:10px;
}

.banner{
  background-color:#525d6d;

}

h4{
  font-family: 'Lobster Two', cursive;
}
.themeat{
  margin-top:40px;
}

h5{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size:40px;
}

h6{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size:20px;
}

a{
  color:inherit;
  text-decoration:none
}

/*hr {
  width: 90%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color:#cac099;
  color:#cac099;
  border: 0 none;
}*/
