.content{
  background-color: #e3ece6;
  max-width:666px;
  max-height:666px;
  margin-left:auto;
  margin-right:auto;
}

.container{
  background-color: #e3ece6;
  margin-top: 0px;
  width: 100%;
  max-width:1250px;
  padding-bottom:13px;
  box-shadow:0px 5px 40px #231f20
}

.mainphoto{
  position:relative;
  margin-top:10px;
  max-width:640px;
}

.rectangle{
  position:absolute;
  background-color:#231f20;
  top:0px;
  height:100%;
  float:left;
  opacity:0.6;
  width:100px
}

.mylist{
  position:absolute;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  float:left;
  opacity:1;
  color:#e3ece6;
  top:90px;
  left:-30px;
}
.social-media{
  text-decoration:none;
  display:flex;
  margin-left:10px;
  margin-top:15px;
}
.instagram{
  color:#e3ece6;
}
.twitter{
  max-width:20px;
  color:#e3ece6;
}

.google{
  color:#e3ece6;
  margin-top:1px;
}

#smedia, #smedia:visited, #smedia:active{
  text-decoration:none;
  color:white;
}
#smedia:hover{
  color:#e3ece6;
}

#logo{
  max-width:90px;
  margin-left:-5px;
  margin-top:-110px
}

#aboutme{
  font-family: 'Cabin', sans-serif;
  color:#231f20;
}

h1{
  font-family: 'Pacifico', cursive;
  color:#231f20;
}

.logo{
  margin:19px;
  max-width:20%;
}

.links-n-things{
  position:relative;
}

.footer{
  height:40px;
  max-width:1250px;
}

ul{
  list-style-type:none;
}

#mylink, #mylink:active, #mylink:visited{
  text-decoration:none;
  color:white;
}
#mylink:hover{
  color:#e3ece6;
  text-decoration:none;
}

#bottom{
  color: #231f20;
  font-family:'cabin';
  font-size: 15px;
  float:right;
}

@media only screen and (min-width: 800px) {
    .mainphoto {
        float: right;
    }
}

@media only screen and (min-width:1250px) {
    .container{
      max-width:1250px;
    }
}
