h1{
  font-family: 'Lobster Two', cursive;
  font-size:48px
}

.titleimage{
  margin-top:20px;
}

.banner{
  background-color:#cac099;
}

h4{
  font-family: 'Lobster Two', cursive;
}
.themeat{
  margin-top:40px;
}
h5{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size:40px;
}
a{
  color:inherit;
  text-decoration:none
}
hr {
  /*width: 90%;*/
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color:#cac099;
  color:#cac099;
  border: 0 none;
}
